#management-ip
MY_IP=CUR_PRIVATE_IP
MY_HOST_NAME=CUR_HOST

#overlay-network
TUNNEL_IP=CUR_PRIVATE_IP

#glance-registry
REGISTRY_HOST=os-controller

#horizon-cache
MEMCACHED_SERVER=CUR_PRIVATE_IP

#nova-cells
CELL_NAME=cell1

#mysql-db
DB_HOST=os-controller

#keystone-auth
CONTROLLER_HOST=os-controller
REGION_NAME=North_VN

#ha-queue
TRANSPORT_URL=rabbit://openstack:RABBIT_PASS@controller01:5672,openstack:RABBIT_PASS@controller02:5672,openstack:RABBIT_PASS@controller03:5672

#cache-pool
MEMCACHED_SERVERS=controller01:11211,controller02:11211,controller03:11211
MEMCACHE_SECRET_KEY=MEMCACHED_PASS

SSH_KEY_PATH=~/.ssh/ctl_key
SSH_USER=root

HTTP_PROXY=http://192.168.5.8:3128
HTTPS_PROXY=https://192.168.5.8:3128

MANAGEMENT_NET=10.10.0.0/24

HUB=controller01

DOCKER_REG_IP=10.10.0.145
DOCKER_REG_HOST=docker-registry
DOCKER_REG_PORT=4000
DOCKER_HOST_PORT=4000
DOCKER_REG_IMAGE="registry:2"
DOCKER_REG_NAME=registry
DOCKER_REG_HTTP_PORT=4000
DOCKER_IMAGE_TAG=ocata

VIP_PRIVATE=PRIVATE_VIP
VIP_PRIVATE_INF=PRIVATE_NIC
VIP_PUBLIC=PUBLIC_VIP
VIP_PUBLIC_INF=PUBLIC_NIC
VIP_HOSTNAME=os-controller

MSQ_PASS=RABBIT_PASS

SQL_WSREP_CLUSTER_NAME=os-cluster
SQL_SST_USER=sst
SQL_SST_PASSWD=MYSQL_PASS_SST
SQL_ROOT_PASSWD=MYSQL_PASS
SQL_MAX_CONNECTIONS=10000
SQL_MAX_CONNECT_ERRORS=10000
SQL_MAX_ALLOWED_PACKET=16M

HAPROXY_STATS_PORT=1984
HAPROXY_STATS_USER=cloud
HAPROXY_STATS_PASS=HAPROXY_PASS
