OS_PROJECT_DOMAIN_NAME=Default
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_NAME=admin
OS_TENANT_NAME=admin
OS_USERNAME=admin
OS_PASSWORD=ADMIN_PASS
OS_AUTH_URL=http://os-controller:35357/v3
OS_IDENTITY_API_VERSION=3
OS_IMAGE_API_VERSION=2
