DEFAULT_SERVERS_PASS=welcome123

typeset -A CONTROLLERS=( 
    [controller01]=10.10.0.145
    [controller02]=10.10.0.146
    [controller03]=10.10.0.147 
)

typeset -A CTL_PASS=( 
    [controller01]=${DEFAULT_SERVERS_PASS}
    [controller02]=${DEFAULT_SERVERS_PASS}
    [controller03]=${DEFAULT_SERVERS_PASS} 
)

typeset -A COMPUTES=( 
    [compute01]=10.10.0.148
    [compute02]=10.10.0.149 
)

typeset -A KEEPALIVED_PRIORS=( 
    [controller01]=3
    [controller02]=2
    [controller03]=1 
)

typeset -A SERVICES=( [keystone_internal]=5000
                      [keystone_admin]=35357
                      [glance_api]=9292
                      [glance_registry]=9191
                      [nova_api]=8774
                      [nova_placement_api]=8778
                      [nova_metadata]=8775
                      [nova_novncproxy]=6080
                      [neutron_server]=9696
                      [horizon]=80
                      [cinder_api]=8776
                      [masakari_api]=15868
)

typeset -A CONFIG=( [keystone_internal]="http-request del-header X-Forwarded-Proto"
                    [keystone_admin]="http-request del-header X-Forwarded-Proto"
                    [glance_api]=
                    [glance_registry]=
                    [nova_api]="http-request del-header X-Forwarded-Proto"
                    [nova_placement_api]="http-request del-header X-Forwarded-Proto"
                    [nova_metadata]="http-request del-header X-Forwarded-Proto"
                    [nova_novncproxy]="http-request del-header X-Forwarded-Proto"
                    [neutron_server]=
                    [horizon]="balance source|http-request del-header X-Forwarded-Proto"
                    [cinder_api]="http-request del-header X-Forwarded-Proto"
                    [masakari_api]="timeout client 2m|timeout server 2m|balance  source|http-request del-header X-Forwarded-Proto|http-request set-header X-Forwarded-Proto https if { ssl_fc }|option  httpchk|option  httplog|option  httpclose"
)
